<h1>My projects</h1>
<h3>Below is a list of all my projects which I'm working on. Please feel free to look them over. Enjoy!</h3>
<div class="accordion" id="accordion">
    {{#each projects as |project|}}
    <article>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{project.index}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{project.index}}" aria-expanded="false" aria-controls="collapseOne">
                    {{project.title}}—<em>{{project.lang}} - {{project.status}}</em>
                </button>
            </h2>
            <div id="collapse{{project.index}}" class="accordion-collapse collapse hide"
                aria-labelledby="heading{{project.index}}" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <p>{{project.description}}</p>
                    <a href="{{project.link}}" target="_blank">View this project<img src="{{project.img }}" style="float:left" width="35px"/></a>
                </div>
            </div>
        </div>
    </article>
    {{/each}}
</div>
<wbr/>
<h2 class="">And more coming soon!</h2>